<div class="dashboard-wrapper">
    <div *ngIf="isCreatingRideInProgress" class="ride-progress">
        <div class="left-progress">
            <div class="bold-text">Yay!</div>
            <div class="info-text">
                Your ride is getting configured now. Once completed, you'll be able to see
                your ride on the top of the Rides table.
            </div>
            <div class="progress relative">
                <mat-progress-bar class="mt-6 ride-progress-bar" mode="determinate"
                    value="{{rideProgressValue}}"></mat-progress-bar>
                <mat-icon class="text-[#06038D] absolute progress-indicator"
                    [style.left.%]="rideProgressValue">arrow_drop_up</mat-icon>
                <span class="text-[#0A0A0A] absolute font-bold progress-percentage"
                    [style.left.%]="rideProgressValue">
                    {{rideProgressValue}}%
                </span>
            </div>
        </div>
        <img src="../../../../assets/ride-in-progress.png">
    </div>
    <div class="dashboard-container bg-[#fff]">
        <div class="title">RIDES</div>
        <div class="filter-wrapper">
            <div class="left-filters">
                <mat-form-field appearance="outline">
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput type="search" placeholder="Search by Ride Name"
                        (keyup)="applySearchFilter($event)" [(ngModel)]="searchTerm" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="status-dropdown">
                    <mat-select [formControl]="status" placeholder="Status"
                        (valueChange)="filterByStatus($event)">
                        <mat-option *ngFor="let option of statusOptionList"
                            [value]="option.id">{{option.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-mini-fab class="reset-icon" (click)="resetFilters()"
                    [disabled]="(searchTerm.length==0) && (status.value == '')">
                    <mat-icon>cached</mat-icon>
                </button>
            </div>
            <button mat-flat-button color="primary"
                class="create-ride-btn !flex items-center justify-center"
                [disabled]="isCreatingRideInProgress"
                (click)="router.navigate(['/dashboard/create-ride'])">
                <mat-icon>add</mat-icon>
                <span>Create Ride</span>
            </button>
        </div>

        <table #table mat-table [dataSource]="dataSource" class="w-full" matSort>

            <!-- Arrow Column -->
            <ng-container matColumnDef="arrow">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon class="text-[#0A0A0A]"
                        (click)="openSnackBar()">chevron_right</mat-icon>
                </td>
            </ng-container>

            <!-- Ride Name Column -->
            <ng-container matColumnDef="rideName">
                <th mat-header-cell *matHeaderCellDef>Ride Name</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Number of Buses Column -->
            <ng-container matColumnDef="noOfBuses">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of Buses</th>
                <td mat-cell *matCellDef="let element"> {{element.noOfBuses}} </td>
            </ng-container>

            <!-- Number of Riders Column -->
            <ng-container matColumnDef="noOfRiders">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of Riders
                </th>
                <td mat-cell *matCellDef="let element"> {{element.noOfRiders}} </td>
            </ng-container>

            <!-- Status column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.status == 1"
                        class="w-5/6 rounded-full py-1 px-4 text-[#0FB86F] text-center completed-state">
                        Completed
                    </div>
                    <div *ngIf="element.status == 2"
                        class="w-5/6 rounded-full py-1 px-4 text-[#F29900] text-center draft-state">
                        Draft
                    </div>
                    <div *ngIf="element.status == 3"
                        class="w-5/6 rounded-full py-1 px-4 text-[#0FB86F] text-center ongoing-state">
                        On going
                    </div>
                </td>
            </ng-container>

            <!-- Action column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button [matMenuTriggerFor]="actionMenu" class="!px-0">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu class="mt-1 action-menu" #actionMenu="matMenu"
                        xPosition="before">
                        <button mat-menu-item (click)="openDialog(element, 1)">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                        <button mat-menu-item (click)="openDialog(element, 2)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-menu-item (click)="openDialog(element, 3)">
                            <mat-icon>archive</mat-icon>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
            showFirstLastButtons aria-label="Select page">
        </mat-paginator>
    </div>
</div>