<div class="landing-container">
    <div class="left-section">
        <img src="../../../assets/bus.svg" alt="Left Image" />
        <div class="tagline-text">Things are about to get a whole lot better</div>
    </div>
    <div class="right-section">
        <div class="logo-container">
            <img src="../../../assets/baderek logo.png" alt="Company Logo" />
        </div>
        <div class="form-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>