<div class="landing-container flex">
  <div class="left-section">
    <div class="img-container w-full">
      <img src="../../../assets/Bus.svg" alt="Left Image" class="bus-img h-full w-full" />
    </div>
    <div class="tagline-text text-center text-[#f1f1f1]">Things are about to get a whole
      lot better</div>
  </div>
  <div class="right-section flex flex-col items-center justify-center bg-[#FBFBFF]">
    <div class="logo-container">
      <img src="../../../assets/baderek logo.png" alt="Company Logo" />
    </div>
    <div class="form-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>