.landing-container {
    min-height: 100vh;
    .left-section {
        background: transparent
            linear-gradient(213deg, #06038d 0%, #35159e 58%, #6927ab 100%) 0% 0%
            no-repeat padding-box;
        width: 40%;
        height: inherit;

        .tagline-text {
            font: normal normal bold 25px Open Sans;
            letter-spacing: 0px;
        }
        .img-container {
            height: calc(100vh - 200px);
        }
    }

    .right-section {
        width: 60%;

        .form-container {
            width: 70%;
        }
    }
}
