footer {
    color: lightgray;
    font-weight: 200;
    border-top: 2px solid #eee;
    
    .copyright-icon {
        font-size: 18px;
        padding: 0 2px;
    }
    .baderek-text {
        padding: 0 4px;
        color: navy;
        font-style: italic;
    }
}