.map-view-container {
    .ride-details {
        .ride-info {
            padding: 16px;
        }
    }
    .map-container {
        .action-buttons {
            top: 24px;
            right: 24px;
            .all-riders-btn {
                margin-left: 20px;
            }
        }
    }
}
