<div class="dashboard-container w-[95%] mx-auto mt-7 mb-24 bg-[#FBFBFB]">
  <header class="bg-[#FFF9C7] px-5 py-5 rounded-[25px]" style="display: none;">
    <h5 class="text-[#FF7A01]">Welcome to our panel</h5>
    <p class="w-[75%] text-[#7E7E7E]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quos repudiandae
      esse ipsum cum porro fuga reiciendis sunt vero obcaecati itaque sequi rem placeat et ipsam, magni veniam ad earum!
    </p>
    <div class="flex items-center mt-3 buttons">
      <a class="text-white bg-[#FF7A01] w-fit rounded-3xl py-2 px-4 flex items-center mr-3" href="#">Learn more
        <mat-icon>arrow_right_alt</mat-icon>
      </a>
      <a class="text-[#787878]" href="#"> Remind me later </a>
    </div>
  </header>
  <section>

    <div class="px-3 py-4 mt-6 bg-white shadow-xl interaction-statistics rounded-xl">

      <div class="flex items-center justify-between buttons ">
        <div class="flex items-center justify-between px-6 py-4">
          <p class="font-medium">Interaction summary</p>
        </div>
        <div class="dashboard-btn flex items-center bg-[#F3F2F2] text-[#787878] mr-4 px-4 rounded-2xl w-fit text-t8">
          <!-- <mat-select class="w-fit" (selectionChange)="changeView($event)" [(ngModel)]="selectedView" name="selectedBarChartType">
          <mat-option *ngFor="let view of views" [value]="view.value">{{view.viewValue}}</mat-option>
        </mat-select> -->
          <button mat-button [matMenuTriggerFor]="menu" class="flex items-center py-2">
            {{selectedView}} <mat-icon class="ml-4">arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changeView(1)">Today</button>
            <button mat-menu-item (click)="changeView(2)">This week</button>
            <button mat-menu-item (click)="changeView(3)">This month</button>
            <button mat-menu-item (click)="changeView(4)">Last 3 months</button>
            <!-- <button mat-menu-item>Custom date</button> -->
          </mat-menu>
        </div>
      </div>
      <div class="flex flex-wrap items-center mt-4 total-stats">
        <app-total-card class="flex-1" [icon]="'view_stream'" [text]="'Total Interactions'" [filterId]="0"
          [value]="totalInteractions"></app-total-card>
        <app-total-card class="flex-1" [icon]="'note_add'" [text]="'New Interactions'" [filterId]="1"
          [value]="newInteractions"></app-total-card>
        <app-total-card class="flex-1" [icon]="'preview'" [text]="'Open Interactions'" [filterId]="2"
          [value]="openInteractions"></app-total-card>
        <app-total-card class="flex-1" [icon]="'pending_actions'" [text]="'Pending Interactions'" [filterId]="3"
          [value]="pendingInteractions"></app-total-card>
        <app-total-card class="flex-1" [icon]="'task'" [text]="'Solved Interactions'" [filterId]="4"
          [value]="closedInteractions"></app-total-card>
      </div>
    </div>

    <div class="hidden">
      <div class="flex justify-between mt-6 stats-activity">
        <aside *ngIf="closedInteractions || pendingInteractions"
          class="pie-chart w-[50%] mr-2 flex flex-col py-3 px-7 shadow-xl rounded-xl bg-white">
          <p class="pl-[3%]">Stats</p>
          <div class="flex items-center justify-evenly">
            <div id="pie-chart"></div>
            <div class="flex flex-col gap-5 label">
              <p class="flex items-center justify-start"> <span class="w-5 h-5 mr-3 rounded-md bg-primary-main"></span>
                Interactions solved</p>
              <p class="flex items-center justify-start"> <span
                  class="w-5 h-5 bg-[#21B731] mr-3 rounded-md"></span>Interactions Pending</p>
            </div>
          </div>
        </aside>
        <aside *ngIf="!(closedInteractions || pendingInteractions)"
          class="pie-chart w-[50%] mr-2 flex items-center justify-center flex-col py-3 px-7 shadow-xl rounded-xl bg-white">
          <p class="">No Data Found</p>
        </aside>
        <aside class="ticket-activities ml-2 w-[50%] py-3 shadow-xl rounded-xl bg-white">
          <p class="px-5 mb-2">Ticket activities</p>
          <div *ngFor="let agentActivity of agentActivityList"
            class="flex items-center justify-between py-3 border border-transparent activity-card border-b-zinc-200 text-t8 last:border-b-0">
            <div class="flex items-center px-5 profile-img">
              <!-- <img class="mr-3 rounded-full w-14" [src]="agentActivity?.profilePic" alt="logo"> -->
              <div class="user-details">
                <p class="name ">{{agentActivity?.messageTitle}}</p>
                <p class="flex text-[#222FB9] items-center">
                  <mat-icon class="mr-1">local_activity</mat-icon> {{agentActivity?.messageText}}
                </p>
              </div>
            </div>
            <p class="last-active-time pr-4 text-[#7E7E7E]"> {{getFormattedDate(agentActivity?.createdAt)}}</p>
          </div>
        </aside>
      </div>
    </div>
  </section>
  <div class="px-3 py-4 mt-6 bg-white shadow-xl interaction-statistics rounded-xl">
    <header class="flex items-center justify-between">
      <div class="flex items-center justify-between px-6 py-4">
        <p class="font-medium">Interaction statistics</p>
      </div>
      <div class="flex text-white buttons text-t8">
        <form class="auto-width">
          <mat-form-field
            class="dashboard-btn flex items-center bg-[#F3F2F2] text-[#787878] mr-4 px-4 rounded-2xl w-fit">
            <mat-select class="w-fit" (selectionChange)="changeValue($event)" [(ngModel)]="selectedBarChartType"
              name="selectedBarChartType">
              <mat-option *ngFor="let barType of barChartType" [value]="barType.value">
                {{barType.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <!-- <button class="flex items-center bg-[#222FB9] rounded-lg p-2">
          <p>Download</p>
          <mat-icon class="cursor-pointer material-icons text-t5">download</mat-icon>
        </button> -->
      </div>
    </header>
    <div class="flex w-full">
      <div class="flex flex-col items-center justify-center ml-4 text-center stats">
        <p class="font-bold text-t4">{{interactionStatistics.totalInteractions | number}}</p>
        <p>Interactions received</p>
        <p class="mt-5 font-bold text-t4">{{interactionStatistics.closedInteractions | number}}</p>
        <p>Interactions closed</p>
      </div>
      <div class="flex-1 graphs">
        <div id="bar-chart">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-6 mb-6 bg-white shadow-xl agent-leaderboard rounded-xl">
    <header class="flex items-center justify-between px-6 py-4">
      <p class="font-medium">Agent Leaderboard</p>
    </header>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover w-100 rounded-3xl pb-2">
      <thead class="bg-white">
        <tr>
          <th class="flex items-center justify-center ">Rank</th>
          <th>Agent Name</th>
          <th>Total Interactions</th>
          <th>Total Upgrades</th>
          <th>Total Pending</th>
        </tr>
      </thead>
      <tbody *ngIf="leaderBoardList?.length != 0">
        <tr *ngFor="let item of leaderBoardList; let i = index">
          <td>
            <span class="flex items-center justify-center pl-2 ">{{ item?.id }}</span>
          </td>
          <td class="max-w-[15rem] break-word">
            <span class="flex items-center justify-start pl-2">{{item?.name}}</span>
          </td>
          <td>
            <div class="flex flex-col justify-center pl-2">
              {{item?.interactionCount}}
            </div>
          </td>
          <td>
            <div class="flex flex-col justify-center pl-2">
              {{item?.upgradeCount}}
            </div>
          </td>
          <td>
            <div class="flex flex-col justify-center pl-2">
              {{item?.pendingCount}}
            </div>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="leaderBoardList?.length == 0">
        <tr>
          <td colspan="6" class="no-data-available">No record found.</td>
        </tr>
      <tbody>
    </table>
  </div>
</div>