::ng-deep .mat-form-field-underline {
  display: none;
}
.auto-width {
  .mat-form-field {
    width: 124px;
  }
  .mat-select-value {
    max-width: 100%;
    width: auto;
  }
}

table.dataTable thead {
  background-color: white;
}


.break-word {
  word-break: break-word;
}