<div class="forget-form-wrapper">
  <div class="header text-center">Forgot your Password</div>
  <div class="mt-2 mb-3 text-center w-full">
    <h6>
      Enter your email address to get an email <br />
      with the password reset link
    </h6>
  </div>
  <form (submit)="ForgetPassword()" #forgetForm="ngForm">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="15px">
      <mat-label class="font-semibold">Email</mat-label>
      <mat-form-field appearance="outline">
        <input matInput required type="text" placeholder="Please enter your Email ID"
          [(ngModel)]="email" name="email" #emailInput="ngModel" />
        <mat-error *ngIf="emailInput.touched && emailInput.invalid">
          Please enter your Email ID
        </mat-error>
      </mat-form-field>
    </mat-grid-list>

    <button mat-button class="btn primary-btn" type="submit"
      [disabled]="forgetForm.invalid">
      Send
    </button>
  </form>

  <div class="return-to-login-container text-left">
    <a href="/login" class="text-[#06038d]">Return to Login</a>
  </div>
</div>