.forget-form-wrapper {
    .header {
        font: normal normal bold 30px Open Sans;
    }
    .mat-form-field {
        display: block;
        min-width: 241px;
        width: 100%;
    }
    .return-to-login-container {
        font: normal normal normal 14px/20px Open Sans;
        padding-top: 80px;
    }
}
