<div class="dialog-title">
    <div class="left-area">
        <mat-icon>info_outline</mat-icon>
        <h1 mat-dialog-title>Confirmation</h1>
    </div>
    <button>
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
<div mat-dialog-actions>
  <button mat-flat-button mat-dialog-close class="cancel-btn">Cancel</button>
  <button mat-flat-button mat-dialog-close type="submit" class="save-btn">Save</button>
</div>