.security-container {
    .change-password-container {
        display: flex;
        justify-content: space-between;
        .block {
            border: 1px solid #b9b9b9;
        }
        .form-container {
            width: 50%;
            margin-top: 5%;
            padding: 20px 50px;

            .title {
                font: normal normal normal 20px/27px Open Sans;
            }

            .mat-form-field {
                display: block;
            }

            .label {
                font: normal normal normal 14px/20px Open Sans;
            }

            .description {
                font: normal normal 300 16px/22px Open Sans;
            }

            .visibility-color {
                color: #B9B9B9 !important
            }   

            .cancel-btn {
                color: #0A0A0A
            }

            .save-btn {
                margin-left: 10px;
                color: #FFFFFF
            }
        }
        .instructions-container {
            width: 48%;
            margin-top: 13%;
            .header {
                padding: 36px;
            }
            .password-criteria {
                padding: 40px 50px;
                .password-criteria-checkbox {
                    color: #D2D1D1
                }
                .password-criteria-fulfilled {
                    color: #30D590
                }
            }
        }
    }
}
