.content-container {
    padding: 32px 40px;
    margin-left: 52px;

    .header {
        font-size: 25px;
        font: normal normal bold 25px/34px Open Sans;
        margin-bottom: 32px;

        .breadcrumb {
            font: normal normal normal 16px/22px Open Sans;
            .label:last-child {
                color: #06038d;
                .mat-icon {
                    display: none;
                }
            }
        }
    }
}
