<app-header></app-header>
<div class="content">
    <div class="sidenav-container fixed h-full">
        <app-navigation-bar></app-navigation-bar>
    </div>
    <div class="content-container w-full">
        <div class="header">
            <div class="main-header">{{mainHeaderText}}</div>
            <div *ngIf="!isDashboard" class="breadcrumb"></div>
        </div>
        <div *ngIf="isCreatingRideInProgress" class="ride-progress">
            <div class="left-progress">
                <div class="bold-text">Yay!</div>
                <div class="info-text">Your ride is getting configured now. Once
                    completed, you'll be able to see your ride on the top of the Rides
                    table.</div>
                <mat-progress-bar class="mt-6" mode="determinate"
                    value="40"></mat-progress-bar>
            </div>
            <img src="">
        </div>
        <div class="page-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>
<app-footer></app-footer>