<div class="login-form-wrapper">
  <div class="header">Login</div>
  <form (submit)="doLogin()" #loginForm="ngForm">
    <mat-label>Email</mat-label>
    <mat-form-field appearance="outline">
      <input matInput required type="text" placeholder="Please enter your Email ID"
        [(ngModel)]="email" name="email" #emailInput="ngModel" />
      <mat-error *ngIf="emailInput.touched && emailInput.invalid">Please enter your Email
        ID</mat-error>
    </mat-form-field>
    <mat-label>Password</mat-label>
    <mat-form-field appearance="outline">
      <input matInput required type="password" placeholder="**********"
        [(ngModel)]="password" name="password" #passwordInput="ngModel" />
      <mat-error *ngIf="passwordInput.touched && passwordInput.invalid">Please enter
        password</mat-error>
    </mat-form-field>
    <a href="" class="forgot-pwd">Forgot password?</a>
    <button mat-button class="btn primary-btn" type="submit"
      [disabled]="loginForm.invalid">Login</button>
  </form>
  <div class="or-text">OR</div>
  <button class="btn">Continue with Google</button>
  <div class="create-account-text">Not registered yet?<a href="">Create an account</a>
  </div>
</div>