<div class="create-ride-wrapper bg-[#fff]">
    <div class="header-section">
        <div *ngIf="!isPreview" class="title">Create Ride</div>
        <div *ngIf="isPreview" class="title">Preview your entries</div>
        <div class="action-buttons">
            <button mat-button class="btn save-draft-btn" (click)="saveAsDraftAction()">
                Save as draft
            </button>
            <button *ngIf="!isPreview" mat-button class="btn cancel-btn"
                (click)="router.navigate(['/dashboard'])">
                Cancel
            </button>
            <button *ngIf="!isPreview" mat-button class="btn confirm-btn"
                (click)="showPreview()">
                Confirm
            </button>
            <button *ngIf="isPreview" mat-button class="btn cancel-btn"
                (click)="isPreview = !isPreview">
                Back
            </button>
            <button *ngIf="isPreview" mat-button class="btn confirm-btn"
                (click)="createNewRide()">
                Create your Ride
            </button>
        </div>
    </div>
    <div *ngIf="!isPreview" class="form-container bg-[#DADDE1]">

        <!-- Ride Name block -->
        <div class="bg-[#fff] name block">
            <div class="title">Name</div>
            <div class="description">Name your ride</div>
            <mat-form-field appearance="outline" class="w-full">
                <input matInput #rideName type="text" [(ngModel)]="dataObject.name"
                    placeholder="For example: RideMumbai1_Pune1" maxlength="64" />
                <mat-hint align="end">{{rideName.value?.length || 0}}/64</mat-hint>
            </mat-form-field>
        </div>

        <!-- Pick up Details block -->
        <div class="bg-[#fff] pick-up-details block">
            <div class="title">
                Pick up Details
                <mat-label class="mr-2 ml-4 round-trip">Round Trip:</mat-label>
                <mat-slide-toggle
                    (change)="togglePickupRoundTripDetails($event)"></mat-slide-toggle>
            </div>
            <div class="description">
                You can provide Start Point or Destination
                or both as per your requirement.
            </div>
            <div class="input-options">
                <div class="field-wrapper location-field">
                    <div class="label">Central Start Point</div>
                    <mat-form-field appearance="outline">
                        <input type="text" aria-label="Start point" matInput
                            [formControl]="pickupControl" [matAutocomplete]="auto"
                            placeholder="Start entering your pick up point">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of options" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="field-wrapper location-field">
                    <div class="label">Destination</div>
                    <mat-form-field appearance="outline">
                        <input type="text" aria-label="Destination" matInput
                            [formControl]="destControl" [matAutocomplete]="auto"
                            placeholder="Start entering your destination">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of options" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="field-wrapper date-field">
                    <div class="label">Schedule</div>
                    <mat-form-field appearance="outline">
                        <mat-label>DD/MM/YYYY</mat-label>
                        <input matInput [matDatepicker]="picker"
                            [(ngModel)]="dataObject.selectedDate">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="field-wrapper time-field">
                    <div class="label"></div>
                    <mat-form-field appearance="outline">
                        <input matInput type="time" placeholder="Select time"
                            [(ngModel)]="dataObject.selectedTime">
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="pickupRoundtripToggleValue" class="round-trip-input-options">
                <div class="field-wrapper location-field">
                    <div class="label">Central Start Point</div>
                    <mat-form-field appearance="outline">
                        <input type="text" aria-label="Start point" matInput
                            [formControl]="roundTripPickupControl"
                            [matAutocomplete]="auto"
                            placeholder="Start entering your pick up point">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of options" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="field-wrapper location-field">
                    <div class="label">Destination</div>
                    <mat-form-field appearance="outline">
                        <input type="text" aria-label="Destination" matInput
                            [formControl]="roundTripDestControl" [matAutocomplete]="auto"
                            placeholder="Start entering your destination">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of options" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="field-wrapper date-field">
                    <div class="label">Schedule</div>
                    <mat-form-field appearance="outline">
                        <mat-label>DD/MM/YYYY</mat-label>
                        <input matInput [matDatepicker]="picker"
                            [(ngModel)]="dataObject.roundTripSelectedDate">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="field-wrapper time-field">
                    <div class="label"></div>
                    <mat-form-field appearance="outline">
                        <input matInput type="time" placeholder="Select time"
                            [(ngModel)]="dataObject.roundTripSelectedTime">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <!-- Add Riders block -->
        <div class="bg-[#fff] add-riders block">
            <div class="title">Add Riders</div>
            <div class="description">
                Please select your option for adding your Riders. In
                one on one approach, you can manually fill out the form and in upload your
                file approach, you'll see the editable form generated after uploading
            </div>
            <div class="add-selection">
                <mat-radio-group [formControl]="radioSelection">
                    <div class="radio-options flex">
                        <div class="option mr-4"
                            [ngClass]="{'selected': radioSelection.value == 1}">
                            <mat-radio-button value="1" [color]="radioColor">One by one
                            </mat-radio-button>
                            <div class="info-text">Choose this option for entering your
                                rider's description one by one manually</div>
                        </div>
                        <div class="option"
                            [ngClass]="{'selected': radioSelection.value == 2}">
                            <mat-radio-button value="2" [color]="radioColor">Upload your
                                file</mat-radio-button>
                            <div class="info-text">Choose this otpion for uploading an
                                excel file with all the
                                information needed for your riders. Data can be
                                edited once upload</div>
                        </div>
                    </div>
                </mat-radio-group>
            </div>
            <ng-container *ngIf="radioSelection.value == 1">
                <div class="table-container">
                    <div class="table-options flex items-center justify-between">
                        <div class="label">
                            Start entering your values for the Riders
                        </div>
                        <div class="right-options">
                            <button mat-button class="btn clear-btn bg-[#EFEFF0]">
                                Clear
                            </button>
                        </div>
                    </div>
                    <table #table mat-table [dataSource]="dataSource" class="w-full">
                        <!-- First Name Column -->
                        <ng-container matColumnDef="firstName">
                            <th mat-header-cell *matHeaderCellDef>First Name</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="standard">
                                    <input matInput type="text" />
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <!-- Last Name Column -->
                        <ng-container matColumnDef="lastName">
                            <th mat-header-cell *matHeaderCellDef>Last Name</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.lastName}}
                            </td>
                        </ng-container>

                        <!-- Street Address Column -->
                        <ng-container matColumnDef="streetAddress">
                            <th mat-header-cell *matHeaderCellDef>Street Address
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.streetAddress}}
                            </td>
                        </ng-container>

                        <!-- City Column -->
                        <ng-container matColumnDef="city">
                            <th mat-header-cell *matHeaderCellDef>City</th>
                            <td mat-cell *matCellDef="let element"> {{element.city}}
                            </td>
                        </ng-container>

                        <!-- State column -->
                        <ng-container matColumnDef="state">
                            <th mat-header-cell *matHeaderCellDef>State</th>
                            <td mat-cell *matCellDef="let element">{{element.state}}
                            </td>
                        </ng-container>

                        <!-- Zip column -->
                        <ng-container matColumnDef="zip">
                            <th mat-header-cell *matHeaderCellDef>Zip</th>
                            <td mat-cell *matCellDef="let element">{{element.zip}}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                        showFirstLastButtons aria-label="Select page">
                    </mat-paginator>
                </div>
                <button mat-button class="btn another-rider-btn bg-[#EFEFF0]"
                    (click)="addNewRider()">
                    Add another Rider
                </button>
            </ng-container>
            <ng-container *ngIf="radioSelection.value == 2">
                <div class="upload-options flex items-center justify-between">
                    <div class="label">
                        Upload
                        <div class="description">
                            Upload your riders. Supported file formats are xls, xlsx and
                            csv. You can always download the sample file.
                        </div>
                    </div>
                    <div class="right-options flex">
                        <button matTooltip="Info about the action">
                            <mat-icon class="text-[#AFAFAF]">info</mat-icon>
                        </button>
                        <button mat-button class=" btn sample-file-btn bg-[#EFEFF0]">
                            <mat-icon>save_alt</mat-icon>
                            Sample file
                        </button>
                    </div>
                </div>
                <div class="drag-drop-container">
                </div>
                <div class="upload-btn"><button mat-button
                        class="btn bg-[#06038D] text-[#fff]">Upload</button></div>
            </ng-container>
        </div>

        <!-- Bus Details block -->
        <div class="bg-[#fff] bus-details block">
            <div class="title">Bus Details</div>
            <div class="description">Please enter the number of buses you want
                in this ride and the capacity. Capacity
                will be applicable for all the buses in this ride</div>
            <div class="input-options">
                <mat-form-field appearance="outline">
                    <input matInput type="text" placeholder="Enter the number of buses" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput type="text" placeholder="Enter the capacity" />
                </mat-form-field>
            </div>
            <mat-slide-toggle>
                Advanced Settings
            </mat-slide-toggle>
            <div class="optional-chip rounded-full">Optional</div>
        </div>
    </div>
    <div *ngIf="isPreview" class="preview-details">
        <div class="label">Ride Name and Pick up details</div>
        <table class="w-full mt-2">
            <colgroup>
                <col style="width: 33.3333%" />
                <col style="width: 33.3333%" />
                <col style="width: 33.3333%" />
            </colgroup>
            <tr>
                <th>Ride Name</th>
                <th>Starting Point</th>
                <th>Destination</th>
            </tr>
            <tr>
                <td>{{dataObject.name}}</td>
                <td>Ride Name</td>
                <td>Ride Name</td>
            </tr>
        </table>
        <mat-divider class="!mt-2 !mb-6"></mat-divider>
        <div class="label">Riders Details and Bus Details</div>
        <table class="w-full mt-2">
            <colgroup>
                <col style="width: 33.3333%" />
                <col style="width: 33.3333%" />
                <col style="width: 33.3333%" />
            </colgroup>
            <tr>
                <th>Riders Count</th>
                <th>Number of Buses</th>
                <th>Minimum Capacity</th>
            </tr>
            <tr>
                <td>{{dataObject.name}}</td>
                <td>Ride Name</td>
                <td>Ride Name</td>
            </tr>
        </table>
        <mat-divider class="!mt-2 !mb-6"></mat-divider>
        <div class="label">Advanced Settings</div>
        <table class="w-full mt-2">
            <colgroup>
                <col style="width: 33.3333%" />
                <col style="width: 33.3333%" />
                <col style="width: 33.3333%" />
            </colgroup>
            <tr>
                <th>Maximum Stops</th>
                <th>Optimize</th>
                <th></th>
            </tr>
            <tr>
                <td>{{dataObject.name}}</td>
                <td>Ride Name</td>
                <td></td>
            </tr>
        </table>
        <mat-divider class="!mt-2 !mb-6"></mat-divider>
    </div>
</div>