<div class="create-ride-wrapper">
    <div class="header-section">
        <div class="title">Create Ride</div>
        <div class="action-buttons">
            <button mat-button class="btn save-draft-btn">
                Save as draft
            </button>
            <button mat-button class="btn cancel-btn">
                Cancel
            </button>
            <button mat-button class="btn confirm-btn">
                Confirm
            </button>
        </div>
    </div>
    <div class="form-container">
        
    </div>
</div>