<div class="content-container w-full bg-[#f8f8f8]">
    <div class="header">
        <div class="main-header">Settings</div>
    </div>
    <div class="settings-wrapper bg-[#fff]">
        <div class="left-menu">
            <div class="title">Settings</div>
            <div class="options-menu">
            <div *ngFor="let item of navigationList" [ngClass]="{'selected': selectedTabId == item.id}">
                    <button class="w-full" 
                        (click)="handleNavigation(item)"
                        [ngClass]="{'selected': selectedTabId == item.id}">
                        {{item.title}}
                    </button>
                </div>
            </div>
        </div>
        <div class="right-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>