.content-container {
    padding: 32px 40px;
    margin-left: 52px;

    .header {
        font-size: 25px;
        font-weight: bold;
        font: normal normal bold 25px/34px Open Sans;
        margin-bottom: 32px;
    }

    .settings-wrapper {
        display: flex;

        .left-menu {
            width: 30%;
            padding: 24px 60px;
            .title {
                font: normal normal 600 20px/27px Open Sans;
                letter-spacing: -1px;
            }
            .options-menu {
                border-right: 2px solid lightgrey;
                margin-top: 45px;
                div {
                    margin-top: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                    &.selected {
                        background: #EEEEFF 0% 0% no-repeat padding-box;
                        border-radius: 28px;
                        opacity: 1;
                    }
                }
                button {
                    box-sizing: content-box;
                    &.selected {
                        color: #06038d;
                        margin-right: -2px;
                        border-right: 3px solid #06038d;
                    }
                }
            }
        }
        .right-content {
            width: 70%;
            padding: 48px;
        }
    }
}
