.add-edit-agent-form {
  background-color: #fbfbfb;
  div {
    input[type="text"] {
      opacity: 1;
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 1;
      outline: none;
    }
  }
}
