<!-- <div class="font-body h-full"> -->
<!-- <app-layout *ngIf="isLoggedIn$ | async; else notAuthorized"> -->
  <!-- <app-layout>
  <router-outlet></router-outlet>
</app-layout> -->

<!-- <ng-template #notAuthorized>
  <router-outlet></router-outlet>
</ng-template>
<ngx-spinner bdColor = "rgba(0,0,0,0.1)" size = "medium" color = "#512da8" type = "ball-spin" [fullScreen] = "true">
  <p style="color: #512da8" > Loading... </p>
</ngx-spinner>
</div> -->

<router-outlet></router-outlet>