header {
    border-bottom: 1px solid #e7e7e9;
    z-index: 2;
    height: 80px;

    .baderek-logo {
        height: 80px;
    }
}

@media only screen and (width < 700px) {
    .container {
        justify-content: flex-end;
    }
    .left-content {
        display: none;
    }
}
