header {
    border-bottom: 2px solid #eee;
    z-index: 1;

    .baderek-logo {
        height: 80px;
        cursor: pointer;
    }

    .menu-item-title {
        width: 8.5rem;
        font-size: 14px;
        line-height: 20px;
        color: #787878;
    }
}

@media only screen and (width < 700px) {
    .container {
        justify-content: flex-end;
    }
    .left-content {
        display: none;
    }
}
