<div class="account-details-container">
    <div class="image-options flex">
        <img *ngIf="userProfileImg" class="rounded-full profile-img"
            src="{{userProfileImg}}" />
        <div *ngIf="!userProfileImg"
            class="rounded-full flex items-center justify-center text-[#fff] bg-[#003B70] profile-img font-semibold">
            {{userImageText}}
        </div>
        <div class="action-buttons ml-8 mt-4">
            <button mat-button class="primary-btn btn-sm bg-[#06038D] text-[#fff]"
                (click)="selectFile()">
                Change Picture
            </button>
            <input type="file" class="hidden" #fileInput
                (change)="handleFileInput($event)" accept=".jpg, .jpeg, .png">
            <button mat-button class="secondary-btn btn-sm bg-[#efeff0] !mt-2"
                (click)="userProfileImg = ''">Delete Picture</button>
        </div>
    </div>
    <div class="form-container mt-4">
        <form #profileForm="ngForm">
            <mat-label class="font-semibold">First Name</mat-label>
            <mat-form-field appearance="outline" class="form-field">
                <input matInput required type="text"
                    placeholder="Please enter your First Name" [(ngModel)]="firstName"
                    name="firstName" #firstNameInput="ngModel" />
                <mat-error *ngIf="firstNameInput.touched && firstNameInput.invalid">
                    Please enter your First Name
                </mat-error>
            </mat-form-field>
            <mat-label class="font-semibold">Last Name</mat-label>
            <mat-form-field appearance="outline" class="form-field">
                <input matInput required type="text"
                    placeholder="Please enter your Last Name" [(ngModel)]="lastName"
                    name="lastName" #lastNameInput="ngModel" />
                <mat-error *ngIf="lastNameInput.touched && lastNameInput.invalid">
                    Please enter last Name
                </mat-error>
            </mat-form-field>
            <mat-label class="font-semibold">Email</mat-label>
            <mat-form-field appearance="outline" class="form-field">
                <input matInput required type="text"
                    placeholder="Please enter your Email ID" [(ngModel)]="email"
                    name="email" #emailInput="ngModel" />
                <mat-error *ngIf="emailInput.touched && emailInput.invalid">
                    Please enter your Email ID
                </mat-error>
            </mat-form-field>
            <div class="float-right flex">
                <button mat-button class="secondary-btn bg-[#efeff0]" type="submit"
                    (click)="router.navigate(['/dashboard'])">Cancel</button>
                <button mat-button class="primary-btn bg-[#06038D] text-[#fff] !ml-2"
                    type="submit" [disabled]="profileForm.invalid"
                    (click)="saveChanges()">Save</button>
            </div>
        </form>
    </div>
</div>