<div class="flex flex-col justify-center overflow-hidden add-interactions-container h-[calc(100vh-4.5rem)] gap-5 ">
    <div class="flex w-full h-full">
        <div class="sticky top-0 left-0 pt-3 overflow-hidden border border-zinc-200"
            [ngClass]="{'w-6': !filterExpanded, 'min-w-[16rem]': filterExpanded}">
            <button *ngIf="!filterExpanded" (click)="expanded()" class="flex items-center justify-center w-6 h-6 px-3">
                <mat-icon>chevron_right</mat-icon>
            </button>
            <div *ngIf="filterExpanded" class="flex justify-between px-3">
                <p>Recent Activity</p>
                <div class="flex items-center">
                    <!-- <button (click)="resetFilter()" class="flex items-center justify-center w-6 h-6">
                    <mat-icon class="text-t6">refresh</mat-icon>
                </button> -->
                    <button (click)="expanded()" class="flex items-center justify-center w-6 h-6">
                        <mat-icon>chevron_left</mat-icon>
                    </button>
                </div>
            </div>
            <!-- <p *ngIf="filterExpanded" class="px-3 mt-3">Recent Activity</p> -->
            <div *ngIf="filterExpanded" class="h-full pb-10 pl-1 overflow-y-auto recent-activity" infiniteScroll
                [infiniteScrollDistance]="3" [infiniteScrollThrottle]="500" [scrollWindow]="false"
                (scrolled)="onScroll()">
                <div *ngFor="let item of recentActivity"
                    class="py-2 pl-2 text-t8 leading-4 mb-2 border mr-1.5 bg-white border-transparent border-b-zinc-200 first:mt-1 last:border-b-0">
                    <div class="flex">
                        <p *ngIf="item?.type === 2" class="min-w mt-2 h-3.5 bg-red-500 rounded-sm "></p>
                        <p *ngIf="item?.type === 3" class="min-w mt-2 h-3.5 bg-green-500 rounded-sm"></p>
                        <div class="mb-1.5 ml-2 flex flex-col items-start">
                            <p class="">{{item?.messageText}}</p>
                            <p class="text-xs text-[#7E7E7E]">{{getFormattedDate(item?.createdAt)}}</p>
                        </div>

                    </div>
                </div>
                <p class="text-center" *ngIf="recentActivity.length != totalRecentActivity">Loading...</p>
            </div>
        </div>
       
    </div>
</div>