<div class="m-6">
    <div class="p-4 bg-white shadow-md interaction-statistics rounded-xl">
        <div class="flex items-center justify-between mb-3">
            <p class="font-medium">Batch Name</p>
        </div>
        <form class="grid grid-cols-2  gap-x-3" name="orgForm" [formGroup]="orgForm">
            <div class="label mb-3">
                <div class="mb-1 font-semibold tracking-wide text-t8 text-gray-main">Name*</div>
                <input formControlName="name" matInput readonly onfocus="this.removeAttribute('readonly')" required
                    maxlength="100"
                    class="w-full px-3 py-2 border border-gray-200 rounded-md text-t8 focus:outline-none" type="text"
                    [ngClass]="{'border-red-700' : !orgForm.controls['name'].valid && orgForm.controls['name'].touched}">
                <div class="pt-1 text-xs text-red-700 error"
                    *ngIf="orgForm.controls['name'].invalid && orgForm.controls['name'].touched">
                    Name is required
                </div>
            </div>
            <div class="label">
                <div class="mb-1 font-semibold tracking-wide text-t8 text-gray-main">Number of Buses</div>
                <input formControlName="wabaNumber" matInput readonly maxlength="12"
                    onfocus="this.removeAttribute('readonly')"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                    class="w-full px-3 py-2 border border-gray-200 rounded-md text-t8 focus:outline-none" type="text"
                    [ngClass]="{'border-red-700' : !orgForm.controls['wabaNumber'].valid && orgForm.controls['wabaNumber'].touched}">
                <div class="pt-1 text-xs text-red-700 error"
                    *ngIf="orgForm.controls['wabaNumber'].invalid && orgForm.controls['wabaNumber'].touched">
                    <p *ngIf="check(orgForm.controls['wabaNumber'].errors, 'required')">This Field is required</p>
                    <p *ngIf="check(orgForm.controls['wabaNumber'].errors, 'numberLimitIssue')">This Field is required< should be
                        either 10 or 12 digits.</p>
                    <p *ngIf="check(orgForm.controls['wabaNumber'].errors, 'phoneNumberInvalid')">This Field is required is invalid
                        (12 digits number should start with 91).
                    </p>

                </div>
            </div>
            <div class="label">
                <div class="mb-1 font-semibold tracking-wide text-t8 text-gray-main">Optimize on</div>
                <input formControlName="closureMessageTemplateID" matInput readonly maxlength="100"
                    onfocus="this.removeAttribute('readonly')"
                    class="w-full px-3 py-2 border border-gray-200 rounded-md text-t8 focus:outline-none" type="text"
                    [ngClass]="{'border-red-700' : !orgForm.controls['closureMessageTemplateID'].valid && orgForm.controls['closureMessageTemplateID'].touched}">
                <div class="pt-1 text-xs text-red-700 error"
                    *ngIf="orgForm.controls['closureMessageTemplateID'].invalid && orgForm.controls['closureMessageTemplateID'].touched">
                    Closure Message Template Id is required
                </div>
            </div>
        
        </form>
        <div class="flex justify-end">
            <button class="px-4 py-0.5 bg-white border border-primary-main rounded-lg text-primary-main"
                (click)="submit()" type="submit" [ngClass]="{'opacity-60': fileError}">Save</button>
        </div>
    </div>

    <div [formGroup]="financeForm">
        <mat-vertical-stepper #stepper linear>
            <mat-step [stepControl]="stepperOne">
                <ng-template matStepLabel>
                    <div class="d-flex flex-wrap">
                        <div>Select customer</div>
                        <div *ngIf="stepper.selectedIndex" class="d-flex flex-wrap">
                            <span class="badge badge-light ml-4"></span>
                            <span class="badge badge-light ml-4">{{stepperOne.value?.region}}</span>
                        </div>
                    </div>
                </ng-template>
                <div class="d-flex flex-wrap mt-2" [formGroup]="stepperOne">
                    <div class="p-0 pr-md-2 col-md-4">
                        <mat-form-field class="mat-form-group w-100">
                            <mat-label>Sold-to Name</mat-label>
                            <mat-select required formControlName="sold_to_name">
                                <!-- <mat-option *ngFor="let item of clients" [value]="item._id">{{item.sold_to_name}}</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                        <!-- <div class="mat-error-group" *ngIf="stepperOne.get('sold_to_name').invalid && (stepperOne.get('sold_to_name').dirty || stepperOne.get('sold_to_name').touched)">
                            <mat-error *ngIf="stepperOne.get('sold_to_name').errors?.required">
                                Sold-to name is required
                            </mat-error>
                        </div> -->
                    </div>
                    <div class="p-0 pr-md-2 col-md-4">
                        <mat-form-field class="mat-form-group w-100">
                            <mat-label>Sales unit</mat-label>
                            <!-- <mat-select required formControlName="sales_unit" (selectionChange)="handleSelectionChange()">
                                <mat-option *ngFor="let item of salesUnits" [value]="item._id">
                                    {{item.floor_bldg}}, {{item.area_street}} - {{item.state}}
                                </mat-option>
                            </mat-select> -->
                        </mat-form-field>
                        <!-- <div class="mat-error-group" *ngIf="stepperOne.get('sales_unit').invalid && (stepperOne.get('sales_unit').dirty || stepperOne.get('sales_unit').touched)">
                            <mat-error *ngIf="stepperOne.get('sales_unit').errors?.required">
                                sales unit is required
                            </mat-error>
                        </div> -->
                    </div>
                    <div class="p-0 pr-md-2 col-md-4">
                        <mat-form-field class="mat-form-group w-100">
                            <mat-label>Region</mat-label>
                            <mat-select required formControlName="region">
                                <mat-option value="East">East</mat-option>
                                <mat-option value="West">West</mat-option>
                                <mat-option value="North">North</mat-option>
                                <mat-option value="South">South</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <div class="mat-error-group" *ngIf="stepperOne.get('region').invalid && (stepperOne.get('region').dirty || stepperOne.get('region').touched)">
                            <mat-error *ngIf="stepperOne.get('region').errors?.required">
                                Region is required
                            </mat-error>
                        </div> -->
                    </div>
                </div>

                <!-- <div class="alert alert-danger h5 mt-2" *ngIf="isNextPressed && !dispatchDetails.value.length">
                    No pending transaction found. Change the filters and try again
                </div> -->
                <div class="form-group mb-0 mt-3 d-flex justify-content-end">
                    <button class="btn btn-sm btn-primary text-uppercase" [disabled]="stepperOne.invalid" >
                        Next
                    </button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Prepare finance sheet </ng-template>
                <div class="w-100 mb-4 mt-2" *ngIf="financeForm.value.dispatch_details.length">
                    <div class="alert alert-warning">
                        <strong>Note:</strong> Only rows which are checked will be curated in the excel sheet.
                    </div>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="p-0 pr-md-2 pt-2 mb-4 col-md-4">
                        <mat-checkbox formControlName="finalise_entire_transaction">Use common UTR No. and RTGS/NEFT date for all transactions</mat-checkbox>
                    </div>
                </div>
                <div class="w-100 table-responsive" *ngIf="financeForm.value.dispatch_details.length" formArrayName="dispatch_details">
                    <table class="table mb-0 row-border hover w-100">
                        <thead>
                            <tr>
                                <th>
                                    <!-- <mat-checkbox [title]="'Select All'" [formControl]="selectAll"></mat-checkbox> -->
                                </th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>City</th>
                                <th>Invoice No.</th>
                                <th>Bill Date</th>
                                <th>Bill Amount (<span>&#8377;</span>)</th>
                                <th>UTR No.</th>
                                <th>RTGS/NEFT Date</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of dispatchDetails.controls; let i = index">
                            <tr [formGroupName]="i">
                                <td>
                                    <mat-checkbox formControlName="is_selected"></mat-checkbox>
                                </td>
                                <td></td>
                                <td>{{item.value.sold_to_code}}</td>
                                <td>{{item.value.city}}</td>
                                <td>{{item.value.invoice_no}}</td>
                                <td>{{item.value.invoice_date | date: 'dd-MM-yyyy'}}</td>
                                <td>{{item.value.gross_price}}</td>
                                <td>
                                    <div class="table-input-wrapper" *ngIf="i === 0 || !financeForm.value.finalise_entire_transaction">
                                        <!-- <input class="table-input" type="text" formControlName="utr_no" (blur)="handleUtrChange()"> -->
                                    </div>
                                    <span *ngIf="financeForm.value.finalise_entire_transaction && i > 0">{{' "" '}}</span>
                                </td>
                                <td>
                                    <div class="table-input-wrapper  d-flex" *ngIf="i === 0 || !financeForm.value.finalise_entire_transaction">
                                        <!-- <input matInput tabindex="-1" class="table-input datepicker-input" [matDatepicker]="picker" formControlName="rtgs_neft_date" (dateChange)="handleUtrChange()">
                                        <mat-datepicker-toggle [disabled]="false" matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker [disabled]="false" #picker></mat-datepicker> -->
                                    </div>
                                    <span *ngIf="financeForm.value.finalise_entire_transaction && i > 0">{{' "" '}}</span>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="5"></td>
                                <td class="bold-stack">Total</td>
                                <td class="bold-stack"><span>&#8377;</span></td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="!financeForm.value.dispatch_details.length" class="w-100">
                    <div class="alert alert-warning">
                        No record found
                    </div>
                </div>
                <div class="form-group mb-0 mt-3 d-flex justify-content-end">
                    <button class="btn btn-sm btn-primary text-uppercase" [disabled]="dispatchDetails.invalid ">
                        Next
                    </button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Verify & finalise sheet</ng-template>
                <div class="w-100 table-responsive">
                    <table class="table mb-0 row-border hover w-100" *ngIf="financeForm.value.dispatch_details.length">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>City</th>
                                <th>Invoice No.</th>
                                <th>Bill Date</th>
                                <th>Bill Amount</th>
                                <th>UTR No.</th>
                                <th>RTGS/NEFT Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="let item of finalSheet; let i = index">
                                <td>{{ !i ? client?.sold_to_name : ' "" ' }}</td>
                                <td>{{item.sold_to_code }}</td>
                                <td>{{item.city}}</td>
                                <td>{{item.invoice_no}}</td>
                                <td>{{item.invoice_date}}</td>
                                <td>{{item.gross_price}}</td>
                                <td>{{item.utr_no}}</td>
                                <td>{{item.rtgs_neft_date | date: 'dd-MM-yyyy'}}</td>
                            </tr> -->
                            <tr>
                                <td colspan="4"></td>
                                <td class="bold-stack">Total</td>
                                <td class="bold-stack"><span>&#8377;</span> </td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="w-100 mt-4">
                    <div class="alert alert-info">
                        We shall be entirely responsible and liable for the payment of the said amount for the supplies made to direct party/ parties for <strong><span>&#8377;</span></strong>, however, We further request you to kindly
                        refund the amount as and when you receive the payment from the said respective party / parties in terms of invoices.
                    </div>
                </div>


                <div class="form-group mb-0 mt-6 d-flex justify-content-end">
                    <button type="submit" [disabled]="financeForm.invalid" class="btn btn-primary text-uppercase" >
                        Finalise
                    </button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>