<div class="flex flex-col justify-center mt-6 add-agents-container">
    <nav class="flex items-center justify-between px-10 py-4 mx-8 rounded-full shadow-md text-t6">
        <p>List of  Batches</p>
        <div class="flex gap-4 items-center">
            <button type="button" [matMenuTriggerFor]="agentFilterMenu">
                <mat-icon class="text-primary-main">filter_alt</mat-icon>
            </button>
            <button class="bg-primary-main text-white py-1 px-3 rounded-2xl" (click)="addAgent()">New Batch</button>
        </div>
        <mat-menu class="w-fit mt-3" #agentFilterMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="applyStatusFilter(1)"
                [ngClass]="{'bg-zinc-200': checkSelectedAgentFilter(1)}">
                <p class="flex justify-start items-center">All
                </p>
            </button>
            <button mat-menu-item (click)="applyStatusFilter(2)"
                [ngClass]="{'bg-zinc-200': checkSelectedAgentFilter(2)}">
                <p class="flex justify-start items-center">Active
                </p>
            </button>
            <button mat-menu-item (click)="applyStatusFilter(3)"
                [ngClass]="{'bg-zinc-200': checkSelectedAgentFilter(3)}">
                <p class="flex justify-start items-center">Inactive
                </p>
            </button>
        </mat-menu>
    </nav>

    <div class="m-8 shadow-md rounded-3xl">
        <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"
            class="row-border hover w-100 rounded-3xl text-left pb-2">
            <thead>
                <tr>
                    <!-- <th>S. No.</th> -->
                    <th>Batch ID</th>
                    <th>Name</th>
                    <!-- <th>Email ID</th>
                    <th>Phone</th> -->
                    <th>Status</th>
                    <th>Last Login</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngIf="agents?.length != 0">
                <tr *ngFor="let item of agents; let i = index">
                    <!-- <td>{{i}}</td> -->
                    <td><span>{{item?.userID ? item?.userID : '-'}}</span>
                    </td>
                    <td>
                        <span>{{item?.name ? item?.name : '-'}}</span>
                    </td>
                    <!-- <td><span >{{item?.email}}</span></td>
                    <td><span >{{item?.mobileNumber}}</span></td> -->
                    <td><span>
                            <mat-slide-toggle (change)="updateStatus(item)" [checked]="item?.isActive">
                            </mat-slide-toggle>
                        </span>
                    </td>
                    <td><span>{{item?.lastLoginTime ? (item?.lastLoginTime |
                            date: 'dd-LLL-yy hh:mm aaaaa\'m\'' ) : '-'}}</span></td>
                    <td><span>
                            <button type="button" [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{selectedItem: item}">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </span>
                    </td>
                </tr>
                <mat-menu class="w-fit mt-3" #menu="matMenu" xPosition="before">
                    <ng-template matMenuContent let-selectedItem="selectedItem">
                        <button mat-menu-item (click)="viewAgent(selectedItem)">
                            <p class="flex justify-start items-center">View
                            </p>
                        </button>
                        <button mat-menu-item (click)="editAgent(selectedItem)">
                            <p class="flex justify-start items-center">Edit
                            </p>
                        </button>
                        <button mat-menu-item (click)="sendInvite(selectedItem)" *ngIf="!selectedItem.isInvited">
                            <p class="flex justify-start items-center">Send Invite
                            </p>
                        </button>
                    </ng-template>
                </mat-menu>
            </tbody>
            <tbody *ngIf="agents?.length == 0">
                <tr>
                    <td colspan="7" class="no-data-available">No record found.</td>
                </tr>
            <tbody>
        </table>
    </div>

</div>